<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Choose your own adventure</title>
</head>
<body>
    <h1>{{.Title}}</h1>
    {{range .Story}}
        {{.}}
    {{end}}
    {{range .Options}}
        <a href="/{{.Arc}}">{{.Text}}</a>
    {{end}}
<script src="js/scripts.js"></script>
</body>
</html>